<!DOCTYPE html>
<html>

<head>
  <title>Bootstrap Template 14 - B++</title>
  <meta name="description" content="Free HTML, CSS, JS block template for Bootstrap framework">
  <link rel="canonical" href="https://bpp.codbits.com/items/14/">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="https://bpp.codbits.com/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://bpp.codbits.com/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://bpp.codbits.com/assets/favicon-16x16.png">
  <link rel="manifest" href="https://bpp.codbits.com/assetssite.webmanifest">
  <link rel="mask-icon" href="https://bpp.codbits.com/assetssafari-pinned-tab.svg" color="#343a40">
  <meta name="msapplication-TileColor" content="#343a40">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <section class="bpp-14">
    <div class="container">
      <div class="bpp-content">
        <h2 class="bpp-title">The integration center for all apps</h2>
        <p class="bpp-desc">Appropriately scale user friendly bandwidth and synergistic meta-services. Phosfluorescently whiteboard intuitive potentialities before long-term high-impact functionalities.</p>
        <button class="btn btn-success">Click to integrate</button>
      </div>
      <div class="bpp-shape-list">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/google-icon.svg" alt="Bootstrap template - Google - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/gitter.svg" alt="Bootstrap template - Gitter - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/graphcool.svg" alt="Bootstrap template - Graphcool - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/graphql.svg" alt="Bootstrap template - Graphql - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/grove.svg" alt="Bootstrap template - Grove - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/grunt.svg" alt="Bootstrap template - Grunt - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/harrow.svg" alt="Bootstrap template - Harrow - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/heap.svg" alt="Bootstrap template - Heap - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/heroku-redis.svg" alt="Bootstrap template - Heroku Redis - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/heron.svg" alt="Bootstrap template - Heron - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/hexo.svg" alt="Bootstrap template - Hexo - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/hashnode.svg" alt="Bootstrap template - Hashnode - B++">
        <img class="bpp-shape" src="https://cdn.jsdelivr.net/gh/gilbarbara/logos@2018.01/logos/jelastic.svg" alt="Bootstrap template - Jelastic - B++">
      </div>
    </div>
  </section>
  <div style="height: 59px;"></div>
  <div class="bpp-template-header">
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
      <a class="navbar-brand mr-2 pb-2" href="https://bpp.codbits.com">
        <img src="https://bpp.codbits.com/assets/img/logo.svg" alt="B++ - Next-level free resources for Bootstrap" width="30">
      </a><span class="navbar-text">/ <a href="https://bpp.codbits.com/templates/">Templates</a> / 14</span>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto"><a class="nav-item nav-link btn btn-danger text-white rounded-0 px-3" href="https://bpp.codbits.com/templates/14/bpp-14.zip" title="Download" download>Download</a>
        </div>
      </div>
    </nav>
  </div>
  <script>
    var _Hasync= _Hasync|| [] ;
    _Hasync.push(['Histats.start', '1,4193091,4,0,0,0,00010000']);
    _Hasync.push(['Histats.fasi', '1']);
    _Hasync.push(['Histats.track_hits', '']);
    (function() {
    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
    hs.src = ('//s10.histats.com/js15_as.js');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
    })();
  </script>
  <noscript>
    <a href="/" target="_blank">
      <img src="//sstatic1.histats.com/0.gif?4193091&101" alt="cool hit counter" border="0">
    </a>
  </noscript>
</body>

</html>