extend _layout.pug

block vars
  - const items = locals.items[itemsType].items

block content

  include ../includes/_header

  section.bpp-items
    .container.pb-3
      h2.h3
        a(class="bpp-back" href=locals.baseUrl) &larr; 
        | \ #{title}
    include ../includes/_items.pug
