extend ../includes/_layout.pug

block vars
  - var title = `Downloads ${locals.separator} ${locals.title}`

block content

  include ../includes/_header

  section.bpp-items.clearfix
    .container.pb-3
      h2.h3
        a(class="bpp-back" href=`${locals.baseUrl}/`) &larr; 
        | \ Downloads
    .container
      p All the items are free to download. For those who want to support the project and enjoy pro items, we offer the following plans.
      .list-group.bpp-downloads
        a(href="#" class="list-group-item list-group-item-action")
          div(class="d-flex w-100 justify-content-between")
            h5.mb-3.h6 Basic 
              span.badge.badge-pill.badge-primary Coming very soon
            small.text-muted $2 for a year
          ul.list-unstyled.text-muted
            li Donate to the project
            li Download all free items in a single zip package
            li 1 year access
        a(href="#" class="list-group-item list-group-item-action")
          div(class="d-flex w-100 justify-content-between")
            h5.mb-3.h6 Personal 
              span.badge.badge-pill.badge-primary Coming soon
            small.text-muted $5 for a year
          ul.list-unstyled.text-muted
            li Basic +
            li Access to pro version of items
        a(href="#" class="list-group-item list-group-item-action")
          div(class="d-flex w-100 justify-content-between")
            h5.mb-3.h6 Pro 
              span.badge.badge-pill.badge-primary Coming soon
            small.text-muted $9 for a year
          ul.list-unstyled.text-muted
            li Personal +
            li Access to source code (pug, scss files)
