@import "../../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../../node_modules/bootstrap-4.1.1/scss/mixins";

$bpp-id: 1;

.bpp-#{$bpp-id} {
  padding: 8rem 0;
  background-color: #fff;

  .bpp-shapes {
    width: 3rem;
    margin-bottom: .5rem;
  }

  .bpp-title {
    font-size: $h2-font-size;
  }

  .bpp-subtitle {
    margin-bottom: 1.5rem;
    font-size: $h2-font-size;
    font-weight: 200;
  }

  .bpp-text {
    font-size: $small-font-size;
    color: $gray-500;
  }
}
