<!DOCTYPE html>
<html>

<head>
  <title>Bootstrap Template 11 - B++</title>
  <meta name="description" content="Free HTML, CSS, JS block template for Bootstrap framework">
  <link rel="canonical" href="https://bpp.codbits.com/items/11/">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="https://bpp.codbits.com/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://bpp.codbits.com/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://bpp.codbits.com/assets/favicon-16x16.png">
  <link rel="manifest" href="https://bpp.codbits.com/assetssite.webmanifest">
  <link rel="mask-icon" href="https://bpp.codbits.com/assetssafari-pinned-tab.svg" color="#343a40">
  <meta name="msapplication-TileColor" content="#343a40">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <section class="bpp-11">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/1@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/2@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/3@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/4@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/5@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/6@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/7@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/8@adorable.png" alt="">
          <img class="bpp-avatar rounded-circle" src="https://api.adorable.io/avatars/100/9@adorable.png" alt="">
          <a href="#">
            <img class="bpp-avatar rounded-circle bpp-join" src="iconmonstr-plus-5.png" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <h3 class="bpp-title">From A to Z to create a perfect UI</h3>
          <p class="bpp-desc">Continually leverage other's goal-oriented bandwidth and stand-alone ROI. Quickly <a href="#">generate </a>cutting-edge process improvements via open-source e-markets. Interactively productivate clicks-and-mortar <a href="#">applications </a>vis-a-vis
            collaborative human capital.</p>
        </div>
      </div>
    </div>
  </section>
  <div style="height: 59px;"></div>
  <div class="bpp-template-header">
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
      <a class="navbar-brand mr-2 pb-2" href="https://bpp.codbits.com">
        <img src="https://bpp.codbits.com/assets/img/logo.svg" alt="B++ - Next-level free resources for Bootstrap" width="30">
      </a><span class="navbar-text">/ <a href="https://bpp.codbits.com/templates/">Templates</a> / 11</span>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto"><a class="nav-item nav-link btn btn-danger text-white rounded-0 px-3" href="https://bpp.codbits.com/templates/11/bpp-11.zip" title="Download" download>Download</a>
        </div>
      </div>
    </nav>
  </div>
  <script>
    var _Hasync= _Hasync|| [] ;
    _Hasync.push(['Histats.start', '1,4193091,4,0,0,0,00010000']);
    _Hasync.push(['Histats.fasi', '1']);
    _Hasync.push(['Histats.track_hits', '']);
    (function() {
    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
    hs.src = ('//s10.histats.com/js15_as.js');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
    })();
  </script>
  <noscript>
    <a href="/" target="_blank">
      <img src="//sstatic1.histats.com/0.gif?4193091&101" alt="cool hit counter" border="0">
    </a>
  </noscript>
</body>

</html>