extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 8

block append stylesheets
  link(rel='stylesheet', type='text/css', href=locals.cdns.iconmonstr)

block append content
  section(class=`bpp-${id}`)
    .container
      .row
        .col-sm-12.col-lg-6
          div.bpp-divider
          h1.bpp-title We're a creative studio
          button.btn.bpp-btn Get Started
      .row
        .col-md-6.col-lg-4
          .card
            .card-body
              i.bpp-icon.im.im-award
              .card-title Award Winning
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-md-6.col-lg-4
          .card
            .card-body
              i.bpp-icon.im.im-fingerprint
              .card-title Secure
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        .col-md-6.col-lg-4
          .card
            .card-body
              i.bpp-icon.im.im-support
              .card-title Instant Support
              p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
