@import "../../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../../node_modules/bootstrap-4.1.1/scss/mixins";

$bpp-red: #fb2d2d;
$bpp-dark: #020202;

body {
  background-color: $bpp-dark;
}

.bpp-hero-2 {
  font-family: 'Roboto', sans-serif;
  height: 800px;
  background: $bpp-dark url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .container {
    padding-top: 20vh;
  }

  .bpp-divider {
    margin-bottom: $spacer * 2;
    height: 2px;
    width: 100px;
    background-color: $bpp-red;
  }

  .bpp-title {
    font-weight: $font-weight-bold;
    font-size: $h1-font-size * 1.5;
  }

  .bpp-btn {
    padding: $spacer * .7 $spacer * 2;
    margin-top: $spacer * 2;
    background-color: $bpp-red;
    border: 2px solid $bpp-red;
    color: white;
    font-weight: bold;
  }

  .row:nth-child(2) {
    margin-top: 20vh;
  }

  .card {
    margin-bottom: $spacer * 2;
    padding: $spacer;
    top: 0;
    background-color: lighten($bpp-dark, 10);
    @include transition;

    @include hover {
      top: -$spacer;
      background-color: $bpp-red;

      .bpp-icon,
      .card-text {
        color: white;
      }
    }
  }

  .bpp-icon {
    margin-bottom: $spacer * 3;
    font-size: $h1-font-size;
    color: darken(white, 40);
  }

  .card-title {
    font-size: $h4-font-size;
  }

  .card-text {
    color: darken(white, 40);
  }
}
