extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 11

block append content
  section(class=`bpp-${id}`)
    .container
      .row
        .col-md-4
          img(src="https://api.adorable.io/avatars/100/1@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/2@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/3@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/4@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/5@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/6@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/7@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/8@adorable.png", class="bpp-avatar rounded-circle", alt="")
          img(src="https://api.adorable.io/avatars/100/9@adorable.png", class="bpp-avatar rounded-circle", alt="")
          a(href="#") 
            img(src="iconmonstr-plus-5.png", class="bpp-avatar rounded-circle bpp-join", alt="")
        .col-md-8
          h3.bpp-title From A to Z to create a perfect UI
          p.bpp-desc
            | Continually leverage other's goal-oriented bandwidth and stand-alone ROI. Quickly 
            a(href="#") generate 
            | cutting-edge process  improvements via open-source e-markets. Interactively productivate clicks-and-mortar 
            a(href="#") applications 
            | vis-a-vis collaborative human capital. 
