@import "../../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../../node_modules/bootstrap-4.1.1/scss/mixins";

$id: 11;

.bpp-#{$id} {
  padding: 5rem 0 4rem;
  color: white;
  background-color: #0b032d;

  .bpp-avatar {
    margin-top: .5rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
    max-width: 50px;
    width: 50px;
  }

  .bpp-join {
    animation: bpp-#{$id}-animation 2s linear infinite;
  }

  .bpp-title {
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
        margin-top: 1rem;
    }
  }

  .bpp-desc {
    color: $gray-500;

    a {
      color: #e14594;
    }
  }
}

@keyframes bpp-#{$id}-animation {
  from {
    box-shadow: 0 0 0 0 #0b032d, 0 0 0 0 #e14594;
  }
  to {
    box-shadow: 0 0 0 8px #0b032d, 0 0 0 10px #0b032d;
  }
}
