@import "../../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../../node_modules/bootstrap-4.1.1/scss/mixins";

$bpp-id: 4;

.bpp-#{$bpp-id} {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .bpp-title {
    margin-bottom: 1rem;
  }

  li {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  a {
    color: $link-color;
  }
}
