extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 13
  - var bodyClass = 'bg-dark'

block append content
  section(class=`bpp-${id}`)
    .container
      .row
        .col-lg-9
          .bpp-shape
            span.bpp-title Our solutions
          .bpp-content
            h2.bpp-title We offer more than services,
              br
              | We offer solutions
            p.bpp-desc Proactively re-engineer functionalized products whereas unique niche markets. Distinctively brand enabled niches before robust methods of empowerment. Appropriately fashion proactive e-services with resource maximizing platforms. Uniquely target process-centric deliverables rather than leveraged experiences.
