@import "../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../node_modules/bootstrap-4.1.1/scss/mixins";

.bpp-hero-1 {
  height: 100vh;
  min-height: 500px;
  background: #14080E url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .bpp-title {
    margin-bottom: 2rem;
    font-weight: $font-weight-bold;
    letter-spacing: .4rem;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: $h2-font-size;
    }
  }

  .bpp-desc {
    margin-bottom: 2rem;
    font-size: $h5-font-size;
  }

  .form-group,
  .form-control {
    width: 100%;
  }

  .form-control,
  .btn {
    border-radius: 5rem;
  }

  .form-control {
    padding: .8rem 1.5rem;
    font-size: 1rem;
  }

  .btn {
    padding: .6rem 1.5rem;

    @include media-breakpoint-down(xs) {
      margin-top: 1rem;
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      right: 18px;
    }
  }

  .bpp-icon {
    width: 1rem;
    vertical-align: bottom;
    margin-right: .5rem;
    fill: #fff;
  }
}
