@import "../../node_modules/bootstrap-4.1.1/scss/functions";
@import "../../node_modules/bootstrap-4.1.1/scss/variables";
@import "../../node_modules/bootstrap-4.1.1/scss/mixins";

.obs-cta-1 {
  padding: 8rem 0;
  background-color: #fff;

  .shapes {
    width: 3rem;
    margin-bottom: .5rem;
  }

  .title {
    font-size: $h2-font-size;
  }

  .subtitle {
    margin-bottom: 1.5rem;
    font-size: $h2-font-size;
    font-weight: 200;
  }

  .text {
    font-size: $small-font-size;
    color: $gray-500;
  }
}
