extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 12

block append content
  section(class=`bpp-${id}`)
    .container
      blockquote.blockquote
        .bpp-content
          p Authoritatively fashion synergistic methodologies vis-a-vis unique manufactured products. Credibly scale top-line e-commerce for seamless solutions.
          footer.blockquote-footer Someone famous in 
            cite(title="Source Title") Source Title
