extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 3
  - var bodyClass = 'bg-dark'

block append scripts
  script(src=locals.cdns.jquery)
  script(src=locals.cdns.vivus)
  script(src='./script.js')

block append content
  section(class=`bpp-${id}`)
    .container.text-center
      h2.bpp-block-title Features
      .row
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/wall-clock.svg
            h3.bpp-title 24/7 Coverage
            p.bpp-desc Phosfluorescently reconceptualize cross-unit e-services for long-term high-impact deliverables. Holisticly engage B2B.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/globe.svg
            h3.bpp-title 12+ Locations
            p.bpp-desc Dynamically revolutionize turnkey relationships for focused models. Dramatically conceptualize frictionless human capital after.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/accept.svg
            h3.bpp-title 100% Accuracy
            p.bpp-desc Compellingly network high standards in growth strategies vis-a-vis functionalized "outside the box" thinking.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/alert.svg
            h3.bpp-title Smart Alerts
            p.bpp-desc Monotonectally visualize user friendly infomediaries via go forward communities. Globally foster interoperable initiatives whereas.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/chart.svg
            h3.bpp-title Detailed Reports
            p.bpp-desc Appropriately actualize high standards in web services and equity invested manufactured products.
        .col-sm-6
          .bpp-feature
            div.bpp-icon
              include icons/source-code.svg
            h3.bpp-title REST API
            p.bpp-desc Monotonectally synthesize corporate services whereas revolutionary methodologies. Professionally evisculate cross-platform.
