extend ../../includes/_layout-item.pug

block prepend vars
  - var id = 2
  - var bodyClass = 'bg-dark mt-5 mb-5'

block content
  section(class=`bpp-${type}-${id}`)
    .container.text-center
      h2.bpp-title Our great customers
      p.bpp-desc These big companies are using our service to their advantage
      ul.list-inline
        li.list-inline-item
          img.bpp-brand(src='https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/basekit.svg', alt="")
        li.list-inline-item
          img.bpp-brand(src='https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/bootstrap.svg', alt="")
        li.list-inline-item
          img.bpp-brand(src='https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/centos.svg', alt="")
        li.list-inline-item
          img.bpp-brand(src='https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/divshot.svg', alt="")
        li.list-inline-item
          img.bpp-brand(src='https://cdn.jsdelivr.net/gh/gilbarbara/logos@2.0/logos/flickr.svg', alt="")
